body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #434455;
  background: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
main {
  flex-grow: 1;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
input,
textarea,
button {
  font: inherit;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  width: 320px;
  margin: 0 auto;
  padding: 0 16px;
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    padding: 0 15px;
  }
}

/* ======= Header ======= */
.top-line {
  background: #fff;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav,
.contacts {
  display: none;
}
.link-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  display: inline-block;
}
.webstudio {
  display: block;

  padding: 16px 0;
}
.header-cont .logo {
  color: #2e2f42;
}
.btn-menu-mobile {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
}
.icon-mobile {
  display: block;
  fill: #2f2f37;
}
@media screen and (min-width: 768px) {
  .btn-menu-mobile {
    display: none;
  }
  .nav {
    display: flex;
    align-items: center;

    gap: 40px;
    margin-right: auto;
  }
  .header {
    display: flex;
    align-items: center;
  }

  .webstudio {
    padding: 24px 0;
    margin-right: 120px;
  }
  .link-studio {
    font-weight: 500;
    font-size: 16px;
    padding-top: 24px;
    padding-bottom: 24px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404bbf;
    position: relative;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .link-studio::after {
    border-radius: 2px;
    width: 48px;
    height: 4px;
    background: #404bbf;
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
  }
  .link {
    padding-top: 24px;
    padding-bottom: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .link:hover,
  .link:focus {
    color: #404bbf;
  }
  .contacts {
    font-style: normal;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    display: block;
  }
  .cont {
    flex-direction: column;
    display: flex;
    gap: 12px;
  }
  .email {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .email:hover,
  .email:focus {
    color: #404bbf;
  }
}
@media screen and (min-width: 1158px) {
  .webstudio {
    margin-right: 76px;
  }
  .cont {
    flex-direction: row;
    gap: 40px;
  }
  .email {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
/* Mobile menu */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
}
.nav-mobile-menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 168px;
}
.link-studio-mobile-menu {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #404bbf;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link-mobile-menu {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link-mobile-menu:hover,
.link-mobile-menu:focus {
  color: #404bbf;
}
.contacts-menu {
  margin-bottom: 48px;
}
.contacts-menu-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-style: normal;
}
.contacts-menu-link-phone {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #4d5ae5;
}
.contacts-menu-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-menu-link:hover,
.contacts-menu-link:focus {
  color: #4d5ae5;
}
.social-menu {
  display: flex;

  gap: 40px;
}
.social-list-folow-menu {
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 50%;

  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
}
.social-list-folow-menu:hover,
.social-list-folow-menu:focus {
  background-color: #404bbf;
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
/* ======= Hero ======= */
.hero-image {
  margin: 0 auto;
  padding: 72px 0;
  max-width: 320px;
  background: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/backgrnd/background-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.solutions {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
  max-width: 216px;
  margin: 0 auto 72px;
}
.btn {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
  margin: 0 auto;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  display: block;
  border: none;
}
.btn:hover,
.btn:focus {
  background-color: #404bbf;
}

@media screen and (max-width: 767.98px) and (min-resolution: 192dpi) {
  .hero-image {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/backgrnd/bacground-mobile@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero-image {
    padding: 112px 0;
    max-width: 768px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/backgrnd/background-tablet.jpg);
  }
  .solutions {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin: 0 auto 36px;
  }
}
@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .hero-image {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/backgrnd/background-tablet@2x.jpg);
  }
}
@media screen and (min-width: 1158px) {
  .hero-image {
    padding: 188px 0;
    max-width: 1440px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/backgrnd/background-desktop.jpg);
  }
  .solutions {
    margin: 0 auto 48px;
  }
}
@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  .hero-image {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/backgrnd/background-desktop@2x.jpg);
  }
}
/* ======= Our advanced ======= */
.section {
  padding: 96px 0;
}
.our-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.adv-icon {
  display: none;
}
.advanced {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
}
.adv {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.advanced-list {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
}
.adv-text-team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .advanced {
    column-gap: 24px;
  }
  .adv {
    align-items: flex-start;
    justify-content: flex-start;
    width: calc((100% - 24px) / 2);
  }
  .advanced-list {
    text-align: left;
  }
}
@media screen and (min-width: 1158px) {
  .section {
    padding: 120px 0;
  }
  .advanced {
    column-gap: 24px;
  }
  .adv {
    width: calc((100% - 72px) / 4);
  }
  .adv-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    background-position: 0 0;
  }
  .icon {
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url(../images/icons.svg);
    fill: #f4f4fd;
  }
  .advanced-list {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .adv-text-team {
    font-weight: 400;
  }
}
/* ======= Our team ======= */
.backgr {
  background: #f4f4fd;
}
.team {
  display: flex;
  justify-content: center;
  gap: 72px;
  flex-wrap: wrap;
}
.foto {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.personal {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 32px 0;
}
.advanced-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
}
.adv-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
.social {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
}

.social-list {
  width: 40px;
  height: 40px;
}
.social-list-folow {
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-folow:hover,
.social-list-folow:focus {
  background-color: #404bbf;
}
@media screen and (min-width: 768px) {
  .team {
    column-gap: 24px;
    row-gap: 64px;
  }
}
@media screen and (min-width: 1158px) {
  .team {
    gap: 24px;
  }
}
/* ======= Our portfolio ======= */
.portf-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}
.portf-table {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.over {
  position: relative;
  overflow: hidden;
}
.over:hover .overlay {
  transform: translateY(0%);
}
.overlay {
  padding: 40px 32px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portf-img {
  display: flex;
  flex-direction: column;
  padding: 32px 16px;
  gap: 8px;
}
.advanced-list {
  text-align: left;
}
.adv-text {
  text-align: left;
}
@media screen and (min-width: 768px) {
  .portf-list {
    column-gap: 24px;
    row-gap: 72px;
  }
}
@media screen and (min-width: 1158px) {
  .portf-list {
    row-gap: 48px;
  }
  .portf-table {
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: none;
  }
  .portf-table:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }
} /* ======= Footer ======= */
.foot {
  background: #2e2f42;
}
.footer {
  padding: 96px 16px;
}
.footer-cont {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  margin-bottom: 72px;
}
.logo-box-footer {
  width: 116px;
  height: 24px;
  text-align: left;
}
.logo-foot {
  color: #f4f4fd;
}
.text-foot {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.social-media {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0 auto 72px;
}
.social-foot-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
}
.social-foot {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 16px;
}
.social-list-folow-foot {
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-folow-foot:hover,
.social-list-folow-foot:focus {
  background-color: #31d0aa;
}

.footer-text-subscribe {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  margin-bottom: 16px;
  letter-spacing: 0.02em;
  text-align: center;
}

.footer-input-subscribe {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 100%;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  opacity: 0.3;
  background-color: transparent;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  padding-left: 16px;
  margin-bottom: 16px;
}
.footer-input-subscribe::placeholder {
  color: #fff;
}
.footer-btn-subscribe {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 8px 24px;
  margin: 0 auto;
  max-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  cursor: pointer;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-btn-subscribe:hover,
.footer-btn-subscribe:focus {
  background-color: #404bbf;
}
.footer-icon-subscribe {
  fill: #fff;
  margin-left: 16px;
}
@media screen and (min-width: 768px) {
  .footer-cont {
    max-width: 264px;
    justify-content: left;
  }
  .social-media {
    max-width: 208px;
    margin: 0;
    align-items: flex-start;
  }
  .footer {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
  }
  .footer-subscribe {
    min-width: 453px;
  }
  .footer-text-subscribe {
    text-align: left;
  }
  .footer-form-subscribe {
    display: flex;
    gap: 24px;
  }
  .footer-btn-subscribe {
    margin: 0;
  }
  .footer-input-subscribe {
    margin-bottom: 0;
    min-width: 264px;
  }
}
@media screen and (min-width: 1158px) {
  .footer {
    column-gap: 0;
    padding: 100px 16px;
  }
  .footer-cont {
    margin-bottom: 0;
    margin-right: 120px;
  }
  .social-media {
    margin-right: 80px;
  }
}
