body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #434455;
  background: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
a {
  text-decoration: none;
}
main {
  flex-grow: 1;
}
ul {
  list-style-type: none;
}
input,
textarea,
button {
  font: inherit;
}
/* ======= Header ======= */
.top-line {
  background: #fff;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.header-cont {
  display: flex;
}
.header {
  display: flex;
  align-items: center;
}

.link-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  display: inline-block;
  margin-bottom: 16px;
}
.webstudio {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0px;
  width: 115px;
  height: 24px;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-right: 76px;
}
.logo {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
}
.nav {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 40px;
  margin-right: 332px;
}
.link {
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link-studio {
  font-weight: 500;
  font-size: 16px;
  padding-top: 24px;
  padding-bottom: 24px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
  position: relative;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
  font-family: "Roboto", sans-serif;
}
.link-studio::after {
  border-radius: 2px;
  width: 48px;
  height: 4px;
  background: #404bbf;
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
}
.link:focus {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
  font-family: "Roboto", sans-serif;
}
.cont {
  padding-top: 24px;
  padding-bottom: 24px;
  flex-direction: row;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 40px;
}
.contacts {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-family: "Roboto", sans-serif;
  display: flex;
}
.email {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-family: "Roboto", sans-serif;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.email:hover {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
  font-family: "Roboto", sans-serif;
}
.email:focus {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
  font-family: "Roboto", sans-serif;
}
/* ======= Hero ======= */
.hero-image {
  margin: 0 auto;
  padding: 188px 0;
  max-width: 1440px;
  background: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/backgrnd/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.solutions {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
  max-width: 496px;
  height: 120px;
  margin-left: 316px;
  margin-right: 316px;
  margin-bottom: 48px;
}
.btn {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
  margin-left: 479px;
  margin-right: 478px;
  margin-bottom: 48px;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  display: block;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 10px;
  border: none;
}
.btn:hover {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #404bbf;
  cursor: pointer;
}
.btn:focus {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #404bbf;
  cursor: pointer;
}
/* ======= Our advanced ======= */
.section {
  padding: 120px 0;
}
.our-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.advanced {
  display: flex;
  height: 224px;
  justify-content: center;
  gap: 24px;
}
.adv {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
  width: calc((100% - 72px) / 4);
  height: 224px;
}
.adv-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background: #f4f4fd;
  background-position: 0 0;
  padding: 24px 100px;
  margin-bottom: 8px;
}
.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(../images/icons.svg);
  --fill: #f4f4fd;
  fill: var(--fill);
}
.advanced-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-bottom: 8px;
}

.adv-text-team {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-family: "Roboto", sans-serif;
  text-align: left;
  margin-bottom: 8px;
}

/* ======= Our team ======= */
.backgr {
  background: #f4f4fd;
}
.team {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.foto {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 0 0 4px 4px;
  width: calc((100% - 72px) / 4);
  height: 428px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.personal {
  padding: 32px 0;
}

.adv-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-bottom: 8px;
}
.social {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
  width: 232px;
  height: 40px;
}

.social-list {
  width: 40px;
  height: 40px;
}
.social-list-folow {
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  --background-color: #4d5ae5;
  background-color: var(--background-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-folow:hover {
  background-color: #404bbf;
}
.social-list-folow:focus {
  background-color: #404bbf;
}

/* ======= Our portfolio ======= */
.portf-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portf-table {
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: calc((100% - 48px) / 3);
}
.portf-table:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.over {
  position: relative;
  overflow: hidden;
}
.over:hover .overlay {
  transform: translateY(0%);
}
.overlay {
  padding: 40px 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  font-family: "Roboto", sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;

  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portf-img {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
  width: 360px;
  height: 120px;
}

/* ======= Footer ======= */
.foot {
  background: #2e2f42;
  padding: 100px 0;
}
.footer {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  flex-direction: row;
}
.footer-cont {
  margin-right: 120px;
}
.logo-foot {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
}
.text-foot {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  font-family: "Roboto", sans-serif;
  max-width: 264px;
}
.social-media {
  margin-left: 120px;
  width: 208px;
  height: 80px;
  margin-right: 80px;
}
.social-foot-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  font-family: "Roboto", sans-serif;
  margin-bottom: 16px;
}
.social-foot {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 16px;
  width: 208px;
  height: 40px;
}
.social-list-folow-foot {
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  --background-color: #4d5ae5;
  background-color: var(--background-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-folow-foot:hover {
  background-color: #31d0aa;
}
.social-list-folow-foot:focus {
  background-color: #31d0aa;
}
.footer-form-subscribe {
  display: flex;
  gap: 24px;
}
.footer-text-subscribe {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  margin-bottom: 16px;
  letter-spacing: 0.02em;
}
.footer-input-subscribe {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  padding-left: 16px;
}
.footer-input-subscribe::placeholder {
  color: #fff;
}
.footer-btn-subscribe {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  cursor: pointer;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-btn-subscribe:hover,
.footer-btn-subscribe:focus {
  background-color: #404bbf;
}
.footer-icon-subscribe {
  fill: #fff;
  margin-left: 16px;
}

/* ======= Modal window ======= */
.modal-overlay {
  background: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-overlay.is-open {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  border-radius: 4px;
  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-close {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  position: absolute;
  padding: 0;
  cursor: pointer;
  top: 24px;
  right: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-close:hover,
.btn-close:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.icon-close {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-close:hover .icon-close,
.btn-close:focus .icon-close {
  fill: #ffffff;
}

.modal-p-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  display: block;
  margin-bottom: 16px;
}

.form-box {
  margin-bottom: 8px;
}
.form-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}
.form-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: transparent;
  width: 100%;
  height: 40px;
  padding-left: 38px;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus {
  border-color: #4d5ae5;
}
.form-input:focus + .form-icon {
  fill: #4d5ae5;
}
.form-textarea {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  flex-shrink: 0;
  resize: none;
  background-color: transparent;
  color: rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
  min-height: 120px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-textarea:focus {
  border-color: #4d5ae5;
}
.form-input-div {
  position: relative;
}
.form-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea-box {
  margin-bottom: 16px;
  height: 138px;
}

.modal-checkbox {
  margin-bottom: 24px;
  width: 360px;
  height: 16px;
}
.modal-checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.modal-checkbox-span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  fill: transparent;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input-checkbox:checked + .modal-checkbox-label .modal-checkbox-span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.modal-checkbox-icon {
}
.modal-checkbox-link {
  margin-left: 4px;
  color: #4d5ae5;
  text-decoration: underline;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-checkbox-link:hover,
.modal-checkbox-link:focus {
  color: #404bbf;
}
.modal-checkbox-button {
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  display: block;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-checkbox-button:hover,
.modal-checkbox-button:focus {
  background-color: #404bbf;
}
